.spinner {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1em solid rgb(198, 198, 250);
    border-right: 1em solid white;

    animation: 1s linear 0s infinite spinner-rotate;
    
}

@keyframes spinner-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}