* {
    margin: 0;
    padding: 0;
    transition: all ease .4s;
}

/* temp style */

/*
.red {
    border: 3px solid red;
}

.green {
    border: 3px solid green;
}

.yellow {
    border: 3px solid yellow;
}

.pink {
    border: 3px solid pink;
}
*/

/* end temp style */

body {
    overflow-x: hidden;
}


.sidebar {
    position: sticky;
    top: 0;
}

.sidebar__content {
    overflow-y: auto;
    padding: 10px 30px;
    background-color: white;
}

.sidebar__content ul,
.sidebar__content ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}

.main__sidebar {
    display: flex;
    justify-content: space-between;
}

.main__sidebar-item {
    width: 100px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



@media (min-width: 1280px){
    body {
        display: grid;
        grid-template-areas:
            "header header sidebar"
            "main main sidebar";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content 1fr;
        grid-gap: 10px;

    }

    .header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
        position: relative;
    }

    .sidebar__content {
        height: 100%;
        width: 100%;
        max-height: 100vh;
        position: fixed;
    }

    .sidebar__content ul,
    .sidebar__content ol {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .main {
        display: grid;
        grid-area: main;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;

    }

    .main__sidebar {
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-gap: 40px;
    }
}

img {
    height: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px #87b6dbd9;
}

input,
textarea{
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #03a9f4;
}

/* start button style */

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {

    border: none;
    background-color: #03a9f4;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .2s;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px #62798c;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    transform: scale(1);
    box-shadow: 0px 0px 6px 0px #62798c;
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    outline: none;
}

/* end button style */

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    padding: 10px;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px #87b6dbd9;
}

.grid-row {
    grid-column: 1/3;
    width: 60%;
    margin: auto;
}

a,
a:visited {
    color: blue;
    text-decoration: none;
}
