.card * {
    padding: 0;
    margin: 0;
}

.card {
    background: #fdfdfd;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #8080803d;
    box-shadow: 0 0 0 0 gray;
    cursor: pointer;
    transition: all ease .2s;
    box-sizing: border-box;
}

.card:hover { 
    background: rgb(231, 231, 231);
}


.card:active {
    background: rgb(190, 187, 187);
}

.card__header {
    font-weight: bold;
}

.card__text {
    word-break: break-word;
    max-height: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card__date {
    border-top: 1px dotted #8080803d;
    margin-top: .7rem;
    padding-top: .5rem;
}

.card > p:nth-child(2) {
    padding-top: 1rem;
    margin-top: .5rem;
    border-top: 1px solid #8080803d;
}