* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    padding: 15px;
    width: max-content;
    background: rgb(253, 245, 201);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid burlywood;
}

.math, .logic {
    margin: 40px auto;
}

.form__inputs {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}



.form__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.form__output {
    height: 20px;
    background: cornsilk;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 15px;
    border: 2px solid burlywood;
    color: rgb(151, 123, 85);
    font-weight: bold;
    text-align: center;
}

.form input,
.form button, 
.form__inputs > label,
.form__input {
    line-height: 20px;
    background: cornsilk;
    padding: 5px 20px;
    border-radius: 15px;
    border: 2px solid burlywood;
}

.form__inputs > input,
.form__input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
    padding-left: 5px;
    font-size: large;
}

.form__inputs > label {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(151, 123, 85);
    font-weight: bold;
    margin-right: -5px;
    padding-right: 5px;
}

.form input:focus,
.form button:focus {
    outline: none;
    border: 2px solid black;
}

.form button:active {
    transform: scale(.9);
}

.form button:hover {
    transform: scale(1.1);
}

.form button {
    cursor: pointer;
    color: rgb(151, 123, 85);
    font-size: x-large;
}

.more {
    margin: auto;
    width: max-content;
}

.more input {
    padding: 10px 20px;
    font-size: x-large;
    margin-bottom: 20px;
}

.more__input_active {
    transform: scale(1.1);
}