header > h1 {
    text-align: center;
    padding: 20px 0;
}

dt {
    font-weight: bolder;
}

dl {
    margin-bottom: 20px;
}

/* begin table style */
table {
    border: none;
    background-color: #e6fcff;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px #87b6dbd9;
}

table tr > td,
table tr > th {
    padding: 10px;
    border: 1px solid #b9eef4;
}

table tr > td:first-child,
table tr > th:first-child {
    border-left: none;
}

table tr > td:last-child,
table tr > th:last-child {
    border-right: none;
}

table thead > tr:first-child > th {
    border-top: none;
}

table tbody > tr:last-child > td {
    border-bottom: none;
}
/* end table style */

img {
    height: 200px;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px #87b6dbd9;
}

input,
textarea{
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid #03a9f4;
}

/* start button style */

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {

    border: none;
    background-color: #03a9f4;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .2s;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px #62798c;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    transform: scale(1);
    box-shadow: 0px 0px 6px 0px #62798c;
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    outline: none;
}

/* end button style */

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    padding: 10px;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px #87b6dbd9;
}

.grid-row {
    grid-column: 1/3;
    width: 60%;
    margin: auto;
}

a,
a:visited {
    color: blue;
    text-decoration: none;
}
